/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #101010;
    --color-text-primary: #04506e;
    --color-text-neutral: #6f89a5;
    --color-text-success: #297a22;
    --color-text-title: #101010;
    --color-text-subtitle: #878787;
    --color-button-primary: #056489;
    --color-button-neutral: #6f89a5;
    --color-background-base: #ffffff;
    --color-background-primary: #056489;
    --color-background-secondary: #cde0e7;
    --color-background-accent: #d0ddea;
    --color-background-neutral: #6f89a5;
    --color-background-tertiary: #f2f5f8;
    --color-outline-primary: #056489;
    --color-outline-neutral: #6f89a5;
    --color-outline-secondary: #d0ddea;
  }
}

.slick-slider.account_slider .slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.connect_slider.slick-slider .slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.slick-slider.account_slider .slick-center {
  transform: scale(1);
  transition: transform 300ms;
}
.slick-slider.connect_slider .slick-center {
  transform: scale(1.1);
  transition: transform 300ms;
}
.slick-dots {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-right: 0.625rem;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  width: 0.6875rem;
  height: 0.25rem;
  padding: 0;
  border: none;
  border-radius: 31.25rem;
  background-color: #9bc1d0;

  text-indent: -9999px;
}
li.slick-active button {
  width: 1.375rem;
  height: 0.25rem;
  background-color: #056489;
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
/* #al__nav-action-button {
  color: blueviolet;
} */
/* #al__navbar-title {
  color:red;
} */
/* #al__secondary-button {
  color: white;
  background-color: blueviolet;
}
#al__filter-button:active {
  color: white;
  background-color: blueviolet;
} */
